#ignore all python cache files
__pycache__/
*.py[cod]   
#ignore virtual environment folders
venv/
env/
coffee/
#ignore IDE specific files
.vscode/
.idea/
#ignore macOS specific files
.DS_Store
#ignore log files
*.log
#ignore compiled files
*.exe   

#ignore node modules
node_modules/
#ignore build directories
dist/
build/
#ignore environment variable files
.environment    